$body-bg: #ccc;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fs18 {
  font-size: 18px;
}

.image-container {
  position: relative;
  & img {
      position: relative;
      z-index: 2;
      overflow: hidden;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

.centered {
  position: absolute;
  z-index: 1;
  left: calc(50% - 12px);
  top: calc(50% - 12px);  
}